.bgi{
    background-image: url(./serviceimages/main.png);

    height: 500px;
    width: 1200px;
    margin-left: 30px;
    margin-right: 80px;
    position: absolute;
}

#serv{
    background-color:rgb(204, 223, 242);
    height: 150px;
    border-radius: 10px;
    justify-content: center;
    margin: 40px 30px 90px 90px;
    font-size: larger;
    margin-top: 450px;
    text-decoration-line: overline;  
}

.lv{
    display: flex;
    color: darkblue;

}

#lvt{
    
    margin-left: 40px;
    color: darkblue ;
    font-size: large;
   margin: 0px 40px;
}

#btn1{
    height: 50px;
    width: 120px;
    font-size: larger;
    font-weight: 500px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(224, 225, 226);
    background-color:rgb(79, 79, 245);
    text-decoration: underline;
    margin-left: 170px;
    margin-bottom: 50px;
}

#btn2{
    height: 50px;
    width: 120px;
    font-size: larger;
    font-weight: 500px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(224, 225, 226);
    background-color:rgb(79, 79, 245);
    text-decoration: underline;
    margin-left: 870px;
    margin-bottom: 50px;
}