body{
    background-image: url(./serviceimages/service.background.avif);
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bgi{
    background-image: url(./serviceimages/main.png);

    height: 500px;
    width: 1200px;
    margin-left: 30px;
    margin-right: 80px;
    position: absolute;
}

#serv{
    background-image: url(./serviceimages/background\ wallpaper.avif);
    background-repeat: no-repeat;
    background-size: cover;
    color:azure;
    height: 150px;
    border-radius: 10px;
    justify-content: center;
    margin: 40px 30px 90px 90px;
    font-size: larger;
    margin-top: 450px;
    text-decoration-line: overline;  
    transition: transform .1s; 
}
#serv:hover{
    transform: scale(1.1);
    position:sticky;
  
}

.lv{
    display: flex;
    color: rgb(246, 246, 253);

}

#lvt{
    
    margin-left: 40px;
    color: rgb(234, 234, 240) ;
    font-size: large;
   margin: 0px 40px;
}

#btn1{
    height: 50px;
    width: 120px;
    font-size: larger;
    font-weight: 500px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(20, 21, 22);
    background-color:rgb(235, 235, 237);
    text-decoration: underline;
    margin-left: 170px;
    margin-bottom: 50px;
}

#btn2{
    height: 50px;
    width: 120px;
    font-size: larger;
    font-weight: 500px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(7, 8, 8);
    background-color:rgb(227, 227, 238);
    text-decoration: underline;
    margin-left: 870px;
    margin-bottom: 50px;
}
