body{
    background-image: url(./serviceimages/service.background.avif);
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: large;
    font: cursive;
    color: #f1f1f1;
}


/*          Navbar          */

#nav{
    justify-content: right;
    background-color: rgba(30, 40, 78, 0.5);
    display: flex;
    padding: 25px;
    position: relative;
    margin: 0px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

#logo{
    position: absolute;
    left: 200px;
    align-content: left;
    border-radius: 20%;
}

.navopt{
    border: 10px;
    border-radius: 25%;
    padding: 7px, 15px;
    color: White;
    align-items: right;
    padding: 10px 10px 10px 10px;
    margin-left: 35px;
    margin-right: 18px;
    text-decoration: none;
    font-family: Georgia, serif;
}

.navopt::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #f1f1f1;
    transition: width .3s;
}

.navopt:hover::after {
    width: 100%;
}

/* our service container */

#serv{
    background-image: url(./serviceimages/background\ wallpaper.avif);
    background-repeat: no-repeat;
    background-size: cover;
    color:azure;
    height: 150px;
    border-radius: 10px;
    justify-content: center;
    margin: 80px 50px 50px 50px;
    font-size: larger;
    margin-top: 50px;
    text-decoration-line: overline;  
    transition: transform .1s; 
}
#serv:hover{
    transform: scale(1.1);
    position:sticky;
  
}

/* live video,events,user setting,video recoder container */

.lv{
    display: flex;
    color: rgb(246, 246, 253);

}

#lvt{
    
    margin-left: 40px;
    color: rgb(234, 234, 240) ;
    font-size: large;
   margin: 0px 40px;

}

/* 4 buttons container */
#btn1{
    height: 50px;
    width: 120px;
    font-size: larger;
    font-weight: 500px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(20, 21, 22);
    background-color:rgb(235, 235, 237);
    text-decoration: underline;
    margin-left: 170px;
    margin-bottom: 50px;
}

#btn2{
    height: 50px;
    width: 120px;
    font-size: larger;
    font-weight: 500px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(7, 8, 8);
    background-color:rgb(227, 227, 238);
    text-decoration: underline;
    margin-left: 870px;
   margin-bottom: 50px;
}

/* footer */

.footer{
    background-color: rgba(30, 40, 78, 0.5);
    position: relative;
    top: 750px;
    height: 100px;
    width: 100%;    
    border-top-right-radius: 500px;
    border-top-left-radius: 500px;
    

}

#copyrights{
    position: relative;
    top: 35px;
    margin-left: 35%;
    font-size: 25px;
    color: white;
    
}
