body {
    background-image: url("./homeimages/backgroundhome.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto Serif', serif;
    margin: 0px; 
    padding: 0px;
}

/*        Splash Page     */
#loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 50, 78, 0.5);; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-in-out; 
  }

#loading-content {
    text-align: center;
    font-size: 24px;
  }

.loading-content{
    font-size: 50px;
    color: #FFB000;
}


/*          Navbar          */

#nav{
    justify-content: right;
    background-color: rgba(30, 40, 78, 0.5);
    display: flex;
    padding: 25px;
    position: relative;
    margin: 0px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

#logo{
    position: absolute;
    left: 200px;
    align-content: left;
    border-radius: 20%;
}

.navopt{
    border: 10px;
    border-radius: 25%;
    padding: 7px, 15px;
    color: White;
    align-items: right;
    padding: 10px 10px 10px 10px;
    margin-left: 35px;
    margin-right: 18px;
    text-decoration: none;
    font-family: Georgia, serif;
}

.navopt::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #f1f1f1;
    transition: width .3s;
}

.navopt:hover::after {
    width: 100%;
}

/*          What We Do          */

.div1{
    position: absolute;
    padding-top: 180px;
    margin: 0px;
    padding-top: 0px;
    height: 650px;
    width: 100%;
}


.milestone{ 
    text-align: center;
    margin-top: 0px;
}

.hidden {
    opacity: 0;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 3;
    }
}

.centeredtext1{
    position: relative;
    top: 90px;
    font-family: sans-serif;
    font-size: 45px;
    color: #FFB000;
}

.centeredtext2{
    position: relative;
    top: 85px;
    font-family: sans-serif;
    font-size: 45px;
    color: #FFB000;
}

.centerbelowtext{
    position: relative;
    top: 100px;
    margin-left: 30%;
    margin-right: 30%;
    font-family: monospace;
    font-size: 25px;
    line-height: 170%;
    color: #FFB000;
}


/*          Footer          */

.footer{
    background-color: rgba(30, 40, 78, 0.5);
    position: relative;
    top: 750px;
    height: 100px;
    width: 100%;    
    border-top-right-radius: 500px;
    border-top-left-radius: 500px;

}

#copyrights{
    position: relative;
    top: 35px;
    margin-left: 35%;
    font-size: 25px;
    color: white;
}