/*                  Navbar                */

#nav{
    justify-content: right;
    background-color: rgba(30, 40, 78, 0.5);
    display: flex;
    padding: 25px;
    position: relative;
    flex-direction: row;
    padding: 20px;
    margin: 0px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

#logo{
    padding: 0px;
    margin-left: 20%;
    position: relative;
    left: 30px;
    border-radius: 20%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
    animation: leftani 1s ease forwards;
    animation-delay: calc(.2s * var(--leftani));
}

.nav-items{
    display: flex;
    flex-direction: row;
    gap: 30%;
    margin: 1% auto auto 22%;
    padding: 0% 23.5% 0% 0%;
    animation: SocialAni 1s ease forwards;
    animation-delay: calc(.2s * var(--socialAni));
}

.navopt{
    border: 10px;
    border-radius: 25%;
    padding: 7px, 15px 7px 15px;
    border-radius: 20px;
    color: White;
    align-items: right;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 100);
    margin: 0% ;
    font-size: 18px;
    text-decoration: none;
    font-family: Georgia, serif;
}

.user-info{
    margin-left: -50%;
}

.user-info-text{
    color: white;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);

}

.navopt::after {
    content: "";
    display: block;
    display: flex;
    height: 2px;
    width: 0;
    background-color: #f1f1f1;
    transition: width .3s;
}

.user-info{
    position: relative;
    left: 30px;
}

.navopt:hover::after {
    width: 100%;
}


/*              Mobile Menu Styling            */

.mobile-menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 60%;
    margin-top: 3%;
}

.mobile-menu-icon span {
    height: 2px;
    width: 20px;
    background-color: white;
    margin: 3px;
    display: block;
    
}

@media(max-width: 800px) {
    
    #logo{
        align-content: left;
        padding: 0px;
        margin-right: 10%;
        border-radius: 20%;
    }   
    
    .nav-items {
        display: none;
        flex-direction: column;
        width: 80px;
        text-align: center;
        position: absolute;
        top: 90px;
        left: 50%;
        background-color: rgba(30, 40, 78, 0.5);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

    }

    .nav-items.show {
        align-items: center;
        display: flex;
        margin-right: 10%;
        padding-right: 10px;
        padding-left: 10px;
    }

    .navopt {
        align-content: center;
        padding: 10px;
        display: block;
        color: white;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .mobile-menu-icon {
        display: flex;
        margin-right: 10%;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}


@media(max-width: 500px) {
    
    #logo{
        align-content: left;
        padding: 0px;
        margin-right: -8%;
        border-radius: 20%;
    }   
    
    .nav-items {
        display: none;
        flex-direction: column;
        width: 75px;
        text-align: center;
        position: absolute;
        top: 88px;
        left: 38%;
        background-color: rgba(30, 40, 78, 0.5);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

    }

    .nav-items.show {
        display: flex;
        align-items: center;
        margin-right: 10px;
        padding-right: 10px;
    }

    .navopt {
        padding: 10px;
        display: block;
        color: white;
    }

    .mobile-menu-icon {
        display: flex;
        margin-right: 10%;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

}




/* features */
body{
    font-family: sans-serif;
    background-image: linear-gradient(to right, #101013, #0b0c0c);
    background-image: url(service-bg.jpg);
  }
  img{
    width: 60px;
    height: 60px;
  }
  .container{
    display: grid;
  
  }
  h5{
    color: aliceblue;
    margin-left: 20%;
  }
  .container__box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    gap: 15px;
  }
  .container .container__box .box{
    background:lightcyan;
    border-radius: 6px;
    box-shadow: 5px 5px 6px #08e042;
    text-align: center;
    padding: 90px 30px;
    border-style: double;
    opacity: 0.7;
  }

  .container .container__box .box:hover{
    opacity: 1;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: .2s, linear;
  }
  .container__heading{
    text-align: center;
    padding-bottom: 15px;
    color: #e3e3e3;
    text-shadow: 0 0 10px black;
    font-size: 50px;
    font-weight: 600;
  }
  .container .container__box .box h3{
    color: #444;
    font-size: 20px;
    font-weight: 600;
  }
  .container .container__box .box p{
    font-size: 14px;
    font-weight: 100;
    color: #555;
  }
  .container .container__box .box a{
    border-radius: 4px;
    background:#1f9e52;
    color: rgb(229, 247, 229);
  }
  .container .container__box .box a:hover{
    background: #09e98c;
  }


  /*          Footer          */

footer {
    background-color: #333;
    background-color: rgba(30, 40, 78, 0.5);
    border-top-right-radius: 180px;
    border-top-left-radius: 180px;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0;
}


.footer-column1 {
    flex: 1;
    margin: 1%;
    margin-left: 14%;
}

.footer-column1 > h3{
    font-size: 30px;
    padding: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
    margin: 0px;
}

.footer-column1 > p{
    margin: 4%;
    font-size: 20px;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
}

.footer-column1 > p > a:hover{
    color:#C7C8CC;
}

.footer-column1 > p > a{
    color: #ffff;
    text-decoration: none;
    
}


.footer-column2 {
    flex: 0.6;
    margin: 1%;
}

.footer-column2 > ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px
} 

.footer-column2 > ul > li{
    margin: 4.6%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
}

.footer-column2 > ul > li > a{
    color: #ffff;
    text-decoration: none;
    font-size: 22px;
}

.footer-column2 > ul > li > a:hover{
    color: #C7C8CC;
}

.footer-column3 {
    flex: 1;
    margin: 1%;
    margin-right: 14%;
}

.footer-column3 > img{
    height: 80px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
    border-radius: 20px;
    width: 80px;
}

.footer-column3 > p{
    font-size: 25px;
    margin: 0% 3% 0% 3%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
}

.foot-list{
    color: #ffff;
    list-style: none;
}

@media (max-width: 700px) {
    .footer-column1,
    .footer-column2,
    .footer-column3 {
        flex: 100%;
        margin: 1% 0;
    }

    .footer-column1 {
        margin-left: 0;
    }

    .footer-column2 > ul > li > a:hover{
        color:#C7C8CC;
    }
}